@use '../../../../../../common/styles/variables.scss' as *;

$text-nat-0: #272727;

.section {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 74.6rem;
  margin: 0 auto;
  padding: 4rem 2rem;
  gap: 2rem;
}

.sectionTitle {
  color: $text-nat-0;

  text-align: center;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  font-size: 1.875rem;
  font-weight: 800;
  letter-spacing: 0.15px;

  margin-bottom: 2.5rem;
}

@include mobile {
  .section {
    padding: 0;
    margin: 0;
    gap: 2.1875rem;
  }

  .sectionTitle {
    font-family: Inter;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.00781rem;
    text-transform: uppercase;

    margin-bottom: 0;
  }
}

@include tablet-horizontal {
  .section {
    max-width: 70rem;
  }
}
