@import '../../../../common/styles/variables.scss';

.submitButton {
  display: flex;
  height: 3.75rem;
  padding: 0.9375rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background: #FF525E;
  color: #FFF;
  border: none;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.005rem;
  cursor: pointer;
}