$text-nat-0: #272727;
$text-nat-500: #6d6d6d;
$border-nat-600: #888;
$border-nat-800: #d1d1d1;
$bg-nat-900: #f6f6f6;
$bg-nat-1000: #fff;
$button-red-400: #ff525e;
$button-red-600: #e71735;
$button-red-800: #a30e2c;

.container {
    max-width: 93.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.8125rem;
}

.uploadBox {
    display: flex;
    height: 15.625rem;
    padding: 0.9375rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9375rem;
    align-self: stretch;
    border: 1px solid $border-nat-800;
    cursor: pointer;

    color: $text-nat-500;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
    letter-spacing: 0.005rem;

    &:hover {
        border: 1px solid $border-nat-600;
        transition: all 0.3s ease;
    }

    &:focus {
        border: 1px solid $button-red-800;
    }
}

.nameFieldWrapper {
    display: flex;
    height: 5.5625rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.9375rem;
    align-self: stretch;
}

.labelName {
    color: $text-nat-0;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.005rem;
}

.labelName > span {
    color: $button-red-400;
}

.inputName {
    display: flex;
    height: 3.4375rem;
    padding: 0.9375rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border: 1px solid $border-nat-800;
    background: $bg-nat-900;

    color: $text-nat-500;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
    letter-spacing: 0.005rem;
    cursor: pointer;

    &:hover {
        border: 1px solid $border-nat-600;
        transition: all 0.3s ease;
    }

    &:focus {
        border: 1px solid $button-red-400;
        color: $button-red-400;
        outline: none;
    }
}

.submitBtn {
    display: flex;
    height: 3.75rem;
    padding: 0.9375rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    background-color: $button-red-400;
    border: none;
    color: $bg-nat-1000;
    cursor: pointer;

    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    letter-spacing: 0.005rem;

    &:hover {
        background: $button-red-600;
        transition: all 0.3s ease;
    }
    
    &::after {
        background: $button-red-800;
        transition: all 0.3s ease;
    }
}

.uploadedPhoto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.divider {
  width: 2rem;
  height: 0.1rem;
  background-color: $border-nat-600; /* або #ccc чи #eee */
}

.uploadedControl {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.uploadedControl > a {
    color: $button-red-400;
}

.buttonDelete {
    color: $button-red-400;
    background: none;
    border: none;
    text-decoration: underline;
}
