<div class="language-selector-container">
  <div
    [class.open]="isOpenLang()"
    aria-label="Language selection"
    class="language-selector"
    role="region"
  >
    <button
      (click)="toggleDropdownLang()"
      [attr.aria-expanded]="isOpenLang()"
      aria-controls="language-dropdown"
      aria-label="Select language"
      class="selector-button"
    >
      @if (currentLanguage$ | async; as lang) {
      <div>
        <span>{{ lang.name }}</span>
      </div>
      }
    </button>
    @if (isOpenLang()) {
    <div class="dropdown-menu">
      @for (lang of i18nService.supportedLanguages(); track lang.code) { @if
      (lang.code !== i18nService.currentLang()) {
      <button
        class="language-option"
        (click)="selectLanguage(lang.code)"
        [attr.aria-label]="lang.name"
      >
        <span>{{ lang.name }}</span>
      </button>
      } }
    </div>
    }
  </div>
</div>
