@use '../../../../../common/styles/variables.scss' as *;

.helpWrapper {
  display: flex;
  align-items: center;
  position: relative;

  gap: 0.75rem;
}

.helpText {
  color: #333;

  font-size: 1rem;
  line-height: 1.4;
}

.helpButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: none;
  background-color: #ff525e;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }

  svg {
    width: 100%;
    height: 100%;
    fill: #fff;
  }

  width: 3rem;
  height: 3rem;
  flex-shrink: 0;
  padding: 0;

  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.helpTooltip {
  position: absolute;
  z-index: 10;

  background: #333;
  color: #fff;

  font-size: 0.875rem;
  line-height: 1.4;

  opacity: 0;

  white-space: normal;
  word-break: break-word;

  max-width: 18rem;
  width: max-content;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;

  transition: all 0.3s ease;

  &.bottom {
    top: calc(100% + 0.5rem);
    left: 50%;
    transform: translateX(-50%);
  }

  &.left {
    top: 50%;
    right: calc(100% + 0.5rem);
    transform: translateY(-50%);
  }

  &.open {
    opacity: 1;
  }
}

@include mobile-horizontal {
  .helpTooltip {
    max-width: 12rem;
  }
}
