.formPoints {
  height: 54.688rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.563rem;
  flex: 1 0 0;
}

.details {
  display: flex;
  padding: 1.25rem 0.938rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0.938rem;
  align-self: stretch;

  border: 1px solid var(--border-nat-800, #d1d1d1);
  background: var(--bg-nat-1000, #fff);
}

.details[closed] {
}

.details[open] {
  border: 1.5px solid var(--border-red-400, #ff525e);
  background: var(--bg-nat-1000, #fff);
}

.details:not([open]):hover {
  border: 1px solid var(--border-nat-0, #272727);
  background: var(--bg-nat-1000, #fff);
}

.summary {
  list-style: none;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  color: var(--text-nat-0, #272727);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.09px;
}

.timer {
  width: 1.563rem;
  height: 1.563rem;
  aspect-ratio: 1 / 1;
  border: 4px solid #ccc;
  border-top-color: red;
  border-right-color: red;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.divider {
  width: 44.25rem;
  height: 0.094rem;
  background: var(--border-red-400, #ff525e);
}

.paragraph {
  align-self: stretch;
  color: var(--text-nat-300, #4f4f4f);

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.08px;
}
