#header {
  font-family: Inter, sans-serif;
  background: #fff;
  padding: 1.5625rem 0;

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navLogoWrapper {
  display: flex;
  align-items: center;

  gap: 3.125rem;
  flex-grow: 1;
}

.navList {
  display: flex;
  align-items: center;

  list-style: none;
  overflow: hidden;
  flex-wrap: nowrap;
  white-space: nowrap;

  color: #6d6d6d;

  flex: 1;
  gap: 1.5625rem;
  min-width: 0;
  padding: 0;
  margin: 0;
}

.navList > li {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.005rem;

  flex-shrink: 0;
}

.userPanel {
  display: flex;
  align-items: center;

  gap: 0.625rem;
}

.authButtons {
  display: flex;
  align-items: center;

  gap: 0.625rem;
  width: 100%;
}

.loginButton,
.registerButton {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  flex: 1;
  padding: 0.9375rem 1.25rem;
  gap: 0.625rem;
}

.loginButton {
  background: #ff525e;
  color: #fff;

  &:hover {
    background: #e71735;
    transition: all 0.3s ease;
  }

  &::after {
    background: #a30e2c;
  }
}

.registerButton {
  border: 1px solid #ff525e;
  color: #6d6d6d;

  &:hover {
    background: #ffa1a6;
    color: #fff;
  }

  &::after {
    background: #eb8288;
    color: #fff;
  }
}

.languageSwitcher {
  position: relative;
  display: inline-block;
}

.toggleButton {
  display: flex;
  align-items: center;

  cursor: pointer;

  max-width: 7.75rem;
  padding: 0.9375rem 1.25rem;
  gap: 0.625rem;
}

.arrow {
  font-size: 0.75rem;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  z-index: 100;

  cursor: pointer;

  background: #fff;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.15);

  max-width: 7rem;
  padding: 0.9375rem;
  gap: 0.625rem;
}

.divider {
  border: none;
  border-top: 1px solid #d7d7d7;

  width: 100%;
  margin: 0;
}

.option,
.active {
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;

  transition: background 0.2s ease;

  width: 100%;
  padding: 0.5rem;
  gap: 0.5rem;
}

.option {
  &:hover {
    background: #f6f6f6;
  }

  &::after {
    background: #b0b0b0;
  }
}

.flagTextContainer {
  display: flex;
  align-items: center;

  gap: 0.625rem;
}
