$primary-color: #ff525e;
$primary-text-color: #fff;
$hover-focus-color: #e71735;
$active-color: #a30e2c;

.mainBtn {
  display: inline-flex;
  height: 100%;
  padding: 0.9375rem 1.25rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 0.625rem;
  flex-shrink: 0;
  border: none;
  cursor: pointer;

  background: $primary-color;
  color: $primary-text-color;

  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.005rem;
}

.mainBtn:hover {
  background: $hover-focus-color;
}

.mainBtn:focus {
  border: 2px solid $primary-color;
  background: $hover-focus-color;
}

.mainBtn:active {
  background: $active-color;
}
