#footer {
  font-family: var(--font-inter), sans-serif;
  background: #fff;
  padding: 3.125rem 2.5rem;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 6.25rem;
  }
}

.infoHeading {
  color: #272727;

  text-transform: uppercase;
  font-family: var(--font-inter), sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.00563rem;
  text-transform: uppercase;

  max-width: 17.5rem;
}

.footerLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex: 0 1 0;
}

.heading {
  text-transform: uppercase;
  font-family: var(--font-inter), sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.00625rem;

  color: #272727;

  padding: 0 0.625rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.navContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  flex: 1;
  max-width: 21rem;
  min-width: 0;
  gap: 1.563rem;
}

.list {
  display: flex;
  flex-direction: column;

  list-style: none;

  max-width: 23.75rem;
  gap: 0.9375rem;
}

.list > li {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.08px;

  width: 100%;
  padding: 0 0.625rem;
}

.divider {
  border: none;
  border-top: 1px solid #d7d7d7;

  width: 100%;
  margin: 0;
}

.mailContainer,
.telephoneContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.313rem;
}

.socialMediaContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  gap: 3.125rem;
}

.watermarkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.designWatermark {
  text-align: center;
  color: var(--text-nat-250, #3d3d3d);

  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4375rem;
  letter-spacing: 0.005rem;
}
