$border-nat-800: #d1d1d1;
$bg-nat-1000: #fff;
$text-nat-0: #272727;
$text-red-400: #ff525e;
$text-nat-250: #3d3d3d;
$text-nat-500: #6d6d6d;
$text-nat-1000: #fff;
$error-text-800: #a30e2c;
$failure-bg-color: #fff2f0;
$failure-border-color: #ffccc7;
$failure-text-color: #cf1322;
$success-bg-color: #f6ffed;
$success-border-color: #b7eb8f;
$success-text-color: #389e0d;

.formApp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border: 1px solid $border-nat-800;
  background: $bg-nat-1000;

  flex: 1 1 0;
  width: 100%;
  gap: 2.1875rem;
  padding: 1.5625rem;
}

.fieldWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  gap: 0.9375rem;

  &.big {
    justify-content: center;
  }
}

.label {
  display: flex;
  align-items: flex-start;

  gap: 0.1875rem;
}

.labelText,
.labelSpan {
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.005rem;
}

.labelText {
  color: $text-nat-0;
}

.labelSpan {
  color: $text-red-400;
}

.inputWrapper {
  box-sizing: border-box;
  position: relative;

  background-color: #f7f7f7;

  width: 100%;
}

.textArea {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  resize: vertical;

  border: 1px solid $border-nat-800;
  color: $text-nat-500;

  font-family: 'Golos Text', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.005rem;

  height: 9.375rem;
  padding: 1.25rem;
  gap: 0.625rem;
}

.customFileUpload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  cursor: pointer;

  border: 1px solid $border-nat-800;

  gap: 0.9375rem;
  height: 9.375rem;
  padding: 0.9375rem;
}

.customFileUpload input[type='file'] {
  display: none;
}

.uploadContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 0.94rem;
}

.uploadText {
  color: $text-nat-500;

  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0.005rem;
}

.fileStatusContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.fileStatusText {
  color: $text-nat-250;

  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0.005rem;
}

.fileButton {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background: none;
  cursor: pointer;

  color: $text-red-400;

  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.005rem;
  text-decoration-line: underline;

  width: 10.4375rem;
  gap: 0.625rem;
  padding: 0.625rem;

  &:hover {
    color: $failure-text-color;
  }
}

.divider {
  width: 2.625rem;
  height: 0.0625rem;
  background: $border-nat-800;
}

.buttonLeave {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  cursor: pointer;
  border: none;

  background: $text-red-400;

  height: 3.4375rem;
  padding: 0.9375rem 1.25rem;
}

.buttonText {
  color: $text-nat-1000;

  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.005rem;
}

.errorContainer {
  display: flex;
  align-items: center;
  align-self: stretch;

  gap: 0.5rem;
}

.errorText {
  color: $error-text-800;

  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.00438rem;
}

.formMessage {
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0.005rem;

  padding: 0.5rem;
  width: 100%;

  &.failure {
    border: 1px solid $failure-border-color;
    background: $failure-bg-color;
    color: $failure-text-color;
  }

  &.success {
    border: 1px solid $success-border-color;
    background: $success-bg-color;
    color: $success-text-color;
  }
}

.failureText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
