@use '@/common/styles/reset-style.scss';
@use '@/common/styles/variables.scss';
@use '@/common/styles/buttons/iconbutton.scss';
@use '@/common/styles/buttons/menunav.scss';
@use '@/common/styles/buttons/textbutton.scss';
@use '@/common/styles/buttons/mainbutton/mainbutton.scss';
@use '@/common/styles/buttons/mainbutton/mainbutton-white.scss';
@use '@/common/styles/buttons/closebutton.scss';
@use '@/common/styles/buttons/choosebutton.scss';
@use '@/common/styles/inputs/searchinput.scss';
@use '@/common/styles/inputs/textinput.scss';

.container {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.layout-wrapper {
  max-width: 115rem;
  margin: auto;
  padding-inline: clamp(0rem, 2vw, 2rem);
  width: 100%;
}

.main-wrapper {
  max-width: 93.5rem;
  margin: auto;
  padding-inline: clamp(0rem, 2vw, 2rem);
  width: 100%;
}

html {
  scroll-behavior: smooth;
}
