$bg-nat-900: #f6f6f6;
$text-nat-0: #272727;
$text-nat-300: #4f4f4f;
$border-nat-800: #d1d1d1;
$bg-nat-1000: #fff;

.mainContainer {
    max-width: 93.5rem;
    width: 100%;
    background: $bg-nat-900;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.125rem;
    padding: 3.12rem 13.25rem;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.9375rem;
    align-self: stretch;
}
  
.formContainer {
    width: 100%;
    display: flex;
    padding: 2.8125rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border: 1px solid $border-nat-800;
    background: $bg-nat-1000;
}

.heading {
    color: $text-nat-0;
    font-family: Inter;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.00938rem;
    text-transform: uppercase;
}
  
.paragraph {
    color: $text-nat-300;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4375rem;
    letter-spacing: 0.005rem;
}