$labelColor: #272727;
$requiredColor: #ff525e;
$inputBgColor: #f6f6f6;
$inputBorderColor: #d1d1d1;
$inputPlaceholderColor: #6d6d6d;

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.9375rem;
  width: 100%;

  & > label {
    color: #272727;
    text-align: center;

    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.005rem;

    & > span {
      padding-left: 0.19rem;
      color: $requiredColor;
      text-align: center;

      font-family: Inter;
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.005rem;
    }
  }

  & > .inputWrapper {
    position: relative;
    width: 100%;

    & > .iconLeft,
    & > .iconRight {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & > .iconLeft {
      left: 0.9375rem;
    }

    & > .iconRight {
      right: 0.9375rem;
    }
  }

  & > .inputWrapper > input {
    border: 1px solid $inputBorderColor;
    background: $inputBgColor;

    display: flex;
    padding: 0.9375rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    color: $inputPlaceholderColor;

    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem; /* 137.5% */
    letter-spacing: 0.005rem;
    outline: none;
  }
}
